<div class="container-fluid red flex-column d-flex min-vh-100 display-1">
  <div class="btn-group" role="group">
    <!-- bottone stato -->
    <button class="btn btn-secondary dropdown-toggle red" type="button" id="dropdownMenuButton"
      data-bs-toggle="dropdown" aria-expanded="false">
      Stato
    </button>
    <!-- dropdown menù stato -->
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li *ngFor="let s of generim">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{s}}" id="cb-{{s}}" (change)="changeType($event)"
            checked />
          <label class="form-check-label">{{s}}</label>
        </div>
      </li>
    </ul>
    <!-- bottone rating -->
    <button class="btn btn-secondary dropdown-toggle red" type="button" id="dropdownMenuButton"
      data-bs-toggle="dropdown" aria-expanded="false">
      Rating
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li>
        <div class="dropdown-item">
          <input #range type="range" value="0" max="10" name="volume" step="0.1"
            oninput="this.nextElementSibling.value = this.value" (change)="changeType($event)">
          <output> 0 </output>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="!loading && vettoreScelte.length >= 1"
    class="table table-striped bkg-table flex-column text-white rounded">
    <div class="row mb-4 p-3">
      <div class="col-md-4 p-3" *ngFor="let t of filteredMangas">
        <div class="card text-white red" style="max-width: 500PX;">
          <div class="card-header">Titolo Inglese: {{t.titolo_eng}}</div>
          <div class="card-body m-0">
            <h5 class="card-title">Titolo :{{t.titolo}}</h5>
            <li class="list-group-item px-4">-Rank: {{t.Rank}}</li>
            <li class="list-group-item px-4">-Rating: {{t.rating}}</li>
            <p class="card-text">{{t.generi}}</p>
            <ul class="list-group list-group-dark list-group-small">
              <li class="list-group-item px-4">Stato: {{ t.stato}}</li>
              <li class="list-group-item px-4">Volumi: {{ t.volumi}}</li>
              <li class="list-group-item px-4">Capitoli: {{t.capitoli}}</li>
              <li class="list-group-item px-4">Pubblicazione: {{t.Periodo_Pubblicazione}}</li>
            </ul>
            <a class="btn bkg-table text-white" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-
              expanded="false" aria-controls="collapseExample">
              SINOSSI
            </a>

          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body text-dark ">
              <h1>{{t.sinossi}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="vettoreScelte.length < 1">Non esiste il Manga</div>
  </div>