<div class="container-fluid">
  <form action="/SpecificaManga">

    <div class="dropdown">
      <div class="btn-group">

        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          Stato
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let s of generim">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Checkme2" />
              <label class="form-check-label">{{s}}</label>
            </div>

          </li>
        </ul>
        <button class="btn btn-secondary float-end dropdown-toggle " type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          Rating
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <input type="range" value="0" max="10" name="volume" step="0.1"
              oninput="this.nextElementSibling.value = this.value">
            <output> 0 </output>
          </li>
        </ul>
      </div>
      <button type="submit" class="btn btn-primary">Conferma</button>

    </div>

  </form>

  <hr>

  <table class="table table-striped">
    <thead>
      <th>Titolo</th>
      <th>Generi</th>
      <th>Rating</th>
      <th>Rank</th>
    </thead>
    <tbody>
      <tr *ngFor="let g of manga">
        <td>{{ g.titolo }}</td>
        <td>{{ g.generi }}</td>
        <td>{{ g.rating }}</td>
        <td>{{ g.Rank }}</td>
      </tr>
    </tbody>
  </table>
</div>