<div class="container-fluid bkg red flex-column min-vh-100 display-1  d-flex aligns-items-center justify-content-center">
  <input #box (keyup)="onKey(box.value)" class="form-control mt-3 mb-3" placeholder="CERCA">
  <p *ngIf="loading">LOADING...</p>
  <div *ngIf="!loading && titolom.length > 1" class="table table-striped bkg-table flex-column text-white rounded">
    <div class="row mb-6 p-3">
      <div class="col-md-6 p-3" *ngFor="let t of titolom;let i = index">
        <div class="card text-white red" style="max-width: 1000PX;">
          <div class="card-header">Titolo Inglese: {{t.titolo_eng}}</div>
          <div class="card-body m-0">
            <h5 class="card-title">Titolo :{{t.titolo}}</h5>
            <li class="list-group-item px-4">-Rank: {{t.Rank}}</li>
            <li class="list-group-item px-4">-Rating: {{t.rating}}</li>
            <p class="card-text">{{t.generi}}</p>
            <ul class="list-group list-group-dark list-group-small">
              <li class="list-group-item px-4">Stato: {{ t.stato}}</li>
              <li class="list-group-item px-4">Volumi: {{ t.volumi}}</li>
              <li class="list-group-item px-4">Capitoli: {{t.capitoli}}</li>
              <li class="list-group-item px-4">Pubblicazione: {{t.Periodo_Pubblicazione}}</li>
            </ul>
            <a class="btn bkg-table text-white" data-bs-toggle="collapse" href="#collapseExample{{i}}" role="button" aria-
              expanded="false" aria-controls="collapseExample">
              TRAMA
            </a>
              
          </div>
          <div class="collapse" id="collapseExample{{i}}">
            <div class="card card-body text-dark "><h1>{{t.sinossi}}</h1></div>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="titolom.length < 1">Non esiste il manga inserito</div>
  </div>