<div class="container-fluid">
  <div class="btn-group" role="group">

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
      aria-expanded="false">
      Tipo
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li *ngFor="let s of generi">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{s}}" id="cb-{{s}}" (change)="changeType($event)"
            checked />
          <label class="form-check-label">{{s}}</label>
        </div>
      </li>
    </ul>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
      aria-expanded="false">
      Rating
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li>
        <div class="dropdown-item">
          <input #range type="range" value="0" max="10" name="volume" step="0.1"
            oninput="this.nextElementSibling.value = this.value" (change)="changeType($event)">
          <output> 0 </output>
        </div>
      </li>
    </ul>
  </div>


  <table class="table table-striped">
    <thead>
    </thead>
    <tbody>
      <tr *ngFor="let s of filteredAnimes">
        <td>{{ s.nome }}</td>
        <td>{{ s.generi }}</td>
        <td>{{ s.tipo }}</td>